<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{270,0},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{540,0},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Circles.png</string>
            <key>size</key>
            <string>{810,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c9b77d68c003471ff2dfefe8dfa5878:5029e2789b0ecf6b308157368f12c15a:7a1c86e7139d413d5affc3733026a420$</string>
            <key>textureFileName</key>
            <string>Circles.png</string>
        </dict>
    </dict>
</plist>
